<div class="horizontal-list">
    <div class="horizontal-item">
        <span class="value">{{ nbCommands }}</span> commandes passées
    </div>
    <div class="horizontal-item">
        <span class="value">{{ nbProductsSold }}</span> produits vendus
    </div>
    <div class="horizontal-item">
        <span class="value">{{ totalSold }} €</span> de chiffre d'affaire HT
    </div>
</div>