<script>
    $(document).ready(function() {
        initCollection($('ul.styles'));
        $collectionHolder = $('ul.styles');
        var total = $collectionHolder.find('li').length;
        $collectionHolder.find('li').each(function(index) {
            if (index !== total - 1) {
                var $newFormLi = $(this);

                $newFormLi.append('<a href="#" class="remove-tag">Supprimer</a>');

                // handle the removal, just for this example
                $('.remove-tag').click(function(e) {
                    e.preventDefault();
                    $(this).parent().remove();
                    return false;
                });
            }});
    });

    function initCollection($collectionHolder) {
        // setup an "add a tag" link
        var $addLink = $('<a href="#" class="add">Ajouter un style à cet univers</a>');
        var $newLinkLi = $('<li></li>').append($addLink);

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm($collectionHolder, $newLinkLi);
        });
    }

    function addTagForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<li></li>').append(newForm);

        // also add a remove button, just for this example
        $newFormLi.append('<a href="#" class="remove-tag">Supprimer</a>');
        $newFormLi.append('<br>------------------------------------------------------------<br>');

        $newLinkLi.before($newFormLi);

        // handle the removal, just for this example
        $('.remove-tag').click(function(e) {
            e.preventDefault();
            $(this).parent().remove();
            return false;
        });
    }
</script>
<div class="form-group">
    <label><span>{{ form_label(form.label) }}</span><span class="required-chip">*</span></label>
    {{ form_widget(form.label) }}
</div>
<div class="form-group">
    <h3 class="mt-3">Styles liés à cet univers</h3>
    <ul class="styles" data-prototype="{{ form_widget(form.styles.vars.prototype)|e('html_attr') }}">
        {% for style in form.styles %}
            <li>{{ form_widget(style) }}</li>
            {% if not loop.last %}---------------------------------{% endif %}
        {% endfor %}
    </ul>
</div>
