{% set active = 'commands' %}
{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} - Nouvelle Commande {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .content {
            background: white;
            padding: 20px;
            min-height: 70vh;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function search() {
            var searchText = $('#shop').val();

            $.ajax({
                url: "{{ path('command_search_shop') }}",
                type: 'POST',
                data: {search_text: searchText},
                datatype: 'json'
            }).done(function(data) {
                $("#shops").html(data).show();
            });
        }
    </script>

{% endblock %}

{% block content %}

    <div class="container-fluid">
        {% include 'shop/connect-as.html.twig' with { 'brand': brand} %}
    </div>

{% endblock %}