<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>French Select - Activation du compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p>Bonjour,</p>
<p>votre compte vient d'être activé!</p>
<p>Vous pouvez dès à présent cliquer sur ce lien :  {{ url('change_password', {'lambda':(encryptId)  }   ) }} pour configurer votre mot de passe !</p>
</body>
</html>