<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>French Select - Réinitialisation du mot de passe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>French Select - Demande d'inscription</h1>
<p>Cher(ère) {{ user.getContacts[0].getLastName() }},{{ user.getContacts[0].getFirstName() }}</p>
<p>Nous avons reçu votre demande d'inscription.</p>
<p>Elle sera traitée dans les plus brefs délais par notre équipe.</p>
<p>Après validation de la création de votre compte, vous recevrez un email d'activation.</p>
<p>Merci,</p>
<p>L'équipe du Showroom French Select.</p>
</body></html>
