<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>French Select - Réinitialisation du mot de passe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <h1>Réinitialisation du mot de passe</h1>
            <p>Cher(ère) utilisateur,</p>
            <p>Nous avons reçu votre demande de réinitialisation de mot de passe. Pour le changer, cliquez ici : {{ url('change_password', {'lambda':(encryptId)  }   ) }}</p>
            <p>Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez nous contacter.</p>
            <p>Merci,</p>
            <p>L'équipe du Showroom French Select.</p>
    </body>
</html>