<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>French Select - Activation du compte</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Détail de la commande n°{{ command.id }} passée le {{ command.date|date('d/m/Y') }}</h2>

<h4><b>Client : </b> {{ command.cartCollection.customer }}</h4>
<h4><b>Marque : </b> {{ command.cartCollection.brand }}</h4>

<p>Commande validée ! </p>

{% include 'command/detail.html.twig' with { 'command' : command } %}
</body>
