{% set active = 'index' %}
{% extends "B2bBundle::Vitrine/layout.html.twig" %}

{% block title %}
    French Select - À propos
{% endblock %}

{% block body %}
    <section class="container-fluid padding-start" id="section-start">
    <h1> À propos </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum fringilla quam egestas elementum. Quisque rutrum nulla non vulputate viverra. Donec in felis et dui iaculis vestibulum. Etiam placerat consequat mauris, in fermentum justo venenatis a. Proin dignissim libero sem, nec sodales est porta vel. Aliquam erat volutpat. Suspendisse auctor vestibulum dolor sed luctus. Donec imperdiet dui sit amet sapien pretium molestie. Duis a mauris et nibh semper venenatis mattis eu odio. Sed blandit enim eu consectetur pulvinar. Morbi sollicitudin nulla sed justo vulputate, non feugiat nisl aliquam. Nullam vulputate pulvinar odio sed iaculis. Vestibulum convallis tortor ac nisl consequat congue. Sed libero nulla, faucibus sit amet nisi a, euismod condimentum turpis. Donec in ligula hendrerit, varius diam vel, ultrices nunc. Proin volutpat scelerisque rutrum.
    </p>
    <p>
        Quisque nec justo purus. Nam imperdiet est magna, vitae ullamcorper dolor condimentum vel. Nam urna arcu, pulvinar ac auctor ac, pellentesque a ante. Phasellus est augue, laoreet in vulputate et, semper id mauris. Nullam nec volutpat libero. Suspendisse convallis orci eget tellus ornare pellentesque. Fusce euismod risus leo, in mollis risus feugiat pharetra. Vestibulum sollicitudin lorem dignissim nulla vehicula suscipit et vel dolor. Pellentesque vitae ligula iaculis, interdum orci in, lacinia risus. Sed placerat sapien libero, et dapibus augue interdum finibus. Maecenas purus nunc, auctor sed facilisis sit amet, facilisis lobortis odio. Praesent posuere aliquet orci sed sagittis. Mauris commodo ante sit amet velit sagittis condimentum. Morbi et consectetur turpis, non tincidunt ante.
    </p>
    <p>
        Pellentesque nisl risus, luctus eget posuere et, tincidunt non lorem. Vivamus fringilla elit nisl, in interdum sapien gravida nec. Mauris ultrices eget enim a fermentum. Ut scelerisque felis leo, a eleifend nunc tincidunt quis. Sed nec ante sit amet eros dapibus bibendum. Phasellus gravida ex non ultricies porttitor. Suspendisse commodo sem in massa cursus scelerisque. Vivamus varius tellus cursus, auctor felis vitae, pretium diam. Donec ac magna ac eros egestas maximus id ac risus. Integer varius sed massa at interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non egestas risus. Integer ac pharetra mi. Praesent vehicula dui id sapien tincidunt, et accumsan ipsum hendrerit. Quisque ipsum felis, blandit vitae laoreet in, accumsan ut nisl.
    </p>
    <p>
        Ut ac massa ex. In id lacinia quam, id egestas nisi. Duis eu dignissim justo, eget congue mauris. Donec mollis ex ac consectetur blandit. Aliquam id enim elementum, euismod nulla et, tincidunt velit. Nunc tempor dapibus orci, id viverra metus lobortis in. Nam in urna euismod, cursus ipsum sed, mattis risus. Aenean vitae elit sit amet erat sodales imperdiet.
    </p>
    <p>
        Ut auctor nunc sit amet diam cursus, quis pharetra urna tempus. In ut tellus consequat, iaculis ligula nec, pharetra tortor. Donec volutpat tortor sed tortor porta, nec scelerisque sem venenatis. Nunc consequat eget ex in vehicula. Donec mi eros, ornare a vulputate a, facilisis sit amet odio. Sed bibendum purus quis est gravida pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur ut libero quis tincidunt. Maecenas semper molestie mi quis fringilla.
    </p></section>

{% endblock %}