{% set active = 'offres_marques' %}
{% extends "B2bBundle::Vitrine/layout.html.twig" %}

{% block title %}
    French Select - L'agence commerciale de mode
{% endblock %}

{% block body %}

    <section class="container-fluid padding-start home1" id="section-start">
        <div class="container">
            <h1>Augmenter vos points de vente en France</h1>
            <h2>Ou plus précisément dans le Sud de la France</h2>
            <div class="row px-4">
                <div class="col-lg-4"><a href="#equipecommerciale" title="French Select - L'équipe commerciale">
                        <h3>Équipe commerciale</h3>
                    </a> </div>
                <div class="col-lg-4"><a href="#relationclientele" title="French Select - La relation clientèle">
                        <h3>Relation clientèle</h3>
                    </a> </div>
                <div class="col-lg-4"><a href="#marketing" title="French Select - Le Marketing">
                        <h3>Marketing</h3>
                    </a> </div>
            </div>
        </div>
    </section>
    <section class="container-fluid home2">
        <div class="container">
            <h1 id="equipecommerciale">L'équipe commerciale</h1>
            <h2>Recherche et constitution d’une équipe de commerciaux adaptée</h2>
            <p>La valeur ajoutée du <strong>showroom</strong> FRENCH SELECT est sa collaboration avec des <strong>agents commerciaux</strong> expérimentés et sélectionnés suivant des critères de sensibilité aux <strong>marques</strong> et d&rsquo;efficacité.</p>
            <p>Influents et présents dans tous les domaines de la <strong>mode</strong> (le <strong>prêt-à-porter</strong>, les <strong>chaussures</strong>, la <strong>maroquinerie</strong>, les <strong>bijoux</strong>, les <strong>accessoires</strong>...), ils présentent les <strong>collections</strong> en <strong>showroom</strong>, <strong>prospectent</strong> de nouveaux <strong>magasins</strong>, assurent une présence aux <strong>salons de mode</strong> et fidélisent  l&rsquo;ensemble du <strong>réseau de distribution </strong>français.</p>
            <h2>Management de l’équipe commerciale</h2>
            <p>Le <strong>showroom</strong> FRENCH SELECT est le seul <strong>interlocuteur</strong> entre la <strong>marque</strong> et les <strong>agents commerciaux</strong>. Notre travail est de motiver l'<strong>équipe commerciale</strong>, les accompagner, leur transmettre vos informations et recueillir leur <strong>feedback</strong>.</p>
        </div>
    </section>
    <section class="container-fluid home1">
        <div class="container">
            <h1 id="relationclientele">La relation clientèle</h1>
            <p>L&rsquo;<strong>agence commerciale</strong> FRENCH SELECT accompagne vos <strong>clients</strong> tout au long de votre relation afin de satisfaire au mieux leurs espérances.</p>
            <p>En plus des <strong>boutiques</strong> <strong>multimarques</strong>, le <strong>showroom</strong> FRENCH SELECT a une relation directe et privilégiée avec les <strong>Grands Comptes</strong>, les <strong>Grands Magasins</strong> français et propose aussi un développement sur <strong>internet</strong> avec les <strong>sites de ventes en ligne.</strong></p>
        </div>
    </section>
    <section class="container-fluid home2">
        <div class="container">
            <h1 id="marketing">Les Actions Marketing</h1>
            <p>Le <strong>showroom</strong> FRENCH SELECT assure des <strong>actions marketing</strong> grâce à son importante <strong>base de données clients</strong> dans tous les secteurs. Ainsi tous les <strong>clients</strong> concernés seront informés de la présence de votre <strong>marque</strong> sur le marché.</p>
            <p><strong>Relances téléphoniques</strong> ciblées, <strong>campagnes de emailing</strong>, <strong>newsletters</strong> (actualités, promotions, nouveaux produits), envoi de <strong>flyers</strong> par voie postale...</p>
        </div>
    </section>




{% endblock %}