{% set active = 'index' %}
{% extends "B2bBundle::Vitrine/layout.html.twig" %}

{% block title %}
    French Select - Charte sur les cookies
{% endblock %}

{% block body %}

    <section class="container-fluid padding-start" id="section-start">
            <h1>Charte sur les Cookies</h1>
            <p>SAS Mon B2B (« French Select », « nous », « nos » ou « notre ») utilise les cookies afin de vous proposer un service web amélioré et davantage personnalisé. À travers cette Charte d&rsquo;utilisation des Cookies de French Select (la « Charte sur les Cookies »), nous vous présentons comment et pourquoi nous utilisons des cookies sur ce site, en toute transparence.</p>
            <h2>Qu&rsquo;est-ce qu&rsquo;un cookie et à quoi sert-il ?</h2>
            <p>Un cookie est un petit fichier texte enregistré, et/ou lu par votre navigateur, sur le disque dur de votre terminal (PC, ordinateur portable ou smartphone, par exemple) et déposé par les sites internet que vous visitez. Quasiment tous les sites utilisent des cookies pour bien fonctionner et optimiser leur ergonomie et leurs fonctionnalités. Les cookies rendent également les interactions avec les sites plus sécurisées et rapides, dans la mesure où ceux-ci peuvent se souvenir de vos préférences (telles que votre identifiant et votre langue) en renvoyant les informations qu&rsquo;ils contiennent au site d&rsquo;origine (cookie interne) ou à un autre site auquel ils appartiennent (cookie tiers), lorsque vous visitez à nouveau le site concerné à partir du même terminal. Selon leur fonction et le but de leur utilisation, les cookies sont classés parmi les catégories décrites ci-dessous et utilisées par French Select sur ce site :</p>
            <p>Les cookies absolument nécessaires vous permettent de vous déplacer sur le site et d&rsquo;utiliser ses fonctionnalités de base. Ils sont généralement installés uniquement en réponse à des actions de votre part pour accéder à des services, tels que la connexion à un espace sécurisé de notre site. Ces cookies sont indispensables pour l&rsquo;utilisation de ce site.</p>
            <p>Les cookies de fonctionnalité sont utilisés pour vous reconnaître lorsque vous revenez sur notre site et nous permettent de vous proposer des fonctionnalités améliorées et davantage personnalisées, comme l&rsquo;accueil nominatif et l&rsquo;enregistrement de vos préférences (le choix de votre langue ou la région où vous vous trouvez par exemple). Ces cookies collectent des informations anonymes et ne peuvent pas tracer vos déplacements sur d&rsquo;autres sites.</p>
            <p>Les cookies d&rsquo;analyse et de performance nous permettent de reconnaître et de compter le nombre de visiteurs sur notre site et de collecter des informations sur la manière dont notre site est utilisé (par exemple, quels sont les pages les plus vues par les visiteurs, est-ce que les internautes ont des messages d&rsquo;erreur sur certaines de nos pages, etc.). Cela nous permet d&rsquo;améliorer la façon dont notre site internet fonctionne, par exemple, en nous assurant, que les utilisateurs trouvent facilement ce qu&rsquo;il cherche.</p>
            <p>Les cookies publicitaires ou de ciblage enregistrent votre visite sur notre site, ainsi que les pages que vous avez consultées et les liens que vous avez suivis. Nous utiliserons ces informations pour afficher des publicités pertinentes en fonction de vos centres d&rsquo;intérêts. Ils sont également utilisés pour limiter le nombre d&rsquo;affichages d&rsquo;une même publicité et pour aider à mesurer l&rsquo;efficacité des campagnes publicitaires. Ainsi, il se peut également que nous partagions ces informations auprès de tiers (les annonceurs par exemple).</p>
            <p>&nbsp;</p>
            <h2>Utilisation des cookies tiers</h2>
            <p>Veuillez noter que French Select utilise les services de tiers pour connaître votre utilisation de ce site, ceci afin d&rsquo;optimiser votre expérience utilisateur et d&rsquo;afficher des publicités en dehors de ce site. Ces tierces parties (comme par exemple des réseaux d&rsquo;annonceurs et des prestataires de services externes, tels que les services d&rsquo;analyse de trafic web) peuvent également utiliser des cookies que nous ne maîtrisons pas.</p>
            <h2>Que faire si vous ne souhaitez pas activer les cookies ?</h2>
            <p>Vous pouvez autoriser, bloquer ou supprimer les cookies installés sur votre poste en paramétrant les options de votre navigateur. Pour les navigateurs les plus courants, vous trouverez des indications via les liens suivants :&nbsp;</p>
            <ul class="list-unstyled">
                <li><a href="https://support.mozilla.org/fr/kb/empecher-sites-enregistrer-preferences" target="_blank">Firefox</a></li>
                <li><a href="https://support.google.com/accounts/answer/61416?hl=en" target="_blank">Chrome</a></li>
                <li><a href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies" target="_blank">Internet Explorer</a></li>
                <li><a href="http://help.opera.com/Windows/9.20/en/cookies.html" target="_blank">Opera</a></li>
                <li><a href="https://support.apple.com/kb/PH17191?locale=en_US&amp;viewlocale=en_US" target="_blank">Safari</a></li>
            </ul>
            <p>Veuillez noter que si vous refusez, depuis votre navigateur internet, l&rsquo;enregistrement de cookies sur votre terminal, vous serez toujours en mesure de naviguer sur ce site, mais certaines parties et options pourraient ne pas fonctionner correctement.</p>
            <h2>Des questions concernant la Charte sur les Cookies de French Select ?</h2>
            <p>Si vous avez des questions concernant la Charte sur les Cookies de French Select, n&rsquo;hésitez pas à nous contacter en utilisant le formulaire en ligne.</p>
    </section>



{% endblock %}