{% set active = 'offres_marques' %}
{% extends "B2bBundle::Vitrine/layout.html.twig" %}

{% block title %}
    French Select - Un CRM en ligne simplifié
{% endblock %}

{% block body %}

    <section class="container-fluid padding-start crm-offer" id="section-start">
        <div class="container">
            <h1>Une gestion commerciale simple et rapide</br>
                <span style="color:#FE5F55;">100% en ligne !</span></h1>
        </div>
    </section>
    <section class="container-fluid line-tools">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <a href="#tool-collection" title="Intégrez vos collection">
                    <div class="line-tools-point">1</div><h2>Intégrez vos <span style="color:#FE5F55;">collections</span></h2></a>
                </div>
                <div class="col-lg">
                    <a href="#tool-customers" title="Gérez votre listing client">
                    <div class="line-tools-point">2</div><h2>Gérez votre<br><span style="color:#FE5F55;">listing client</span></h2></a>
                </div>
                <div class="col-lg">
                    <a href="#tool-orders" title="Enregistrez vos commandes">
                    <div class="line-tools-point">3</div><h2>Enregistrez vos <span style="color:#FE5F55;">commandes</span></h2></a>
                </div>
                <div class="col-lg">
                    <a href="#tool-invoices" title="Créer vos factures">
                    <div class="line-tools-point">4</div><h2>Créez vos<br><span style="color:#FE5F55;">factures</span></h2></a>
                </div>
                <div class="col-lg">
                    <a href="#tool-payments" title="Suivez vos paiements">
                    <div class="line-tools-point">5</div><h2>Suivez vos <span style="color:#FE5F55;">paiements</span></h2></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home2">
        <div class="container" id="tool-collection">
            <h2>Intégrez vos collections en quelques clics</h2>
            <div class="row">
                <div class="col-lg-6">
            <p>French Select propose un CRM, un outil en ligne de prise de commande et de gestion de vos revendeurs simplifié et spécifique aux marques de mode, de décoration et de cosmétique.</p>
            <p>Avec à son interface simple, vous gagnerez du temps sur l’enregistrement des commandes, le suivi des ventes, la gestion de vos revendeurs, de vos factures et des paiements des boutiques.</p>
            <p>Créez et importez l’ensemble des produits de vos collections. Choisissez les photos, définissez les couleurs, les tailles et l’intégralité des informations pour chaque modèle.</p>
            <p>Vous pouvez intégrer la collection disponible dès maintenant mais également la collection de la prochaine saison.</p>
            <p>Un produit n’est plus disponible ? Indiquez-le afin de ne plus permettre sa vente.</p>
            <h3>Notre +</h3>
                    <p>L’importation des données est simplifiée et très rapide grâce à un fichier Excel personnalisé, créé par French Select.</p>
                </div>
                <div class="col-lg-6">Image d'illustration</div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home1">
        <div class="container" id="tool-customers">
        <h2>Gérez vos listing clients</h2>
            <div class="row">
                <div class="col-lg-6">Image d'illustration</div>
                <div class="col-lg-6">
            <p>En centralisant vos revendeurs actuels, vos anciens clients et vos prospects, French Select vous offre un outil simple et complet de gestion de relation clients.</p>
            <p>En plus des informations de base, chaque fiche client contient l’historique complet de ses achats.</p>
            <p>Vous obtiendrez les informations dont vous avez besoin sur les boutiques grâce à des fonctions de tri et de recherche.</p>
            <h3>Notre +</h3>
            <p>Pour une meilleure efficacité, French Select vous permet d’effectuer des campagnes d’emailing auprès de vos revendeurs mais également des boutiques prospects.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home2">
        <div class="container" id="tool-orders">
            <h2>Simplifiez vos prises de commandes</h2>
            <div class="row">
                <div class="col-lg-6">
            <p>L’enregistrement des commandes peut être une activité longue et fastidieuse dans les débuts de la vie d’une marque et s’accentue avec l’agrandissement des collections.</p>
            <p>Avec une interface intuitive, French Select simplifie la prise de commande et centralise les ventes aux boutiques indépendantes. En quelques clics, vous enregistrez les commandes de réassorts et également les précommandes de vos clients.</p>
            <h3>Notre +</h3>
            <p>Les copies des commandes, les factures, les bons de livraisons sont automatiquement envoyés par email à vos revendeurs lors de leur création et sont consultables en ligne 24h/7j.</p>
                </div>
                <div class="col-lg-6">Image d'illustration</div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home1">
        <div class="container" id="tool-invoices">
        <h2>Générez vos factures et suivez les paiements</h2>
            <div class="row">
                <div class="col-lg-6">Image d'illustration</div>
                <div class="col-lg-6">
            <p>Dans le secteur de la mode, la gestion des factures et des paiements prend une part importante dans l’activité de la marque. C’est pourquoi French Select a souhaité simplifier cette tâche.</p>
            <p>Suite à une prise de commande, l’outil en ligne de French Select permet aux marques de créer rapidement une facture qui est envoyée automatiquement à la boutique.</p>
            <p>Les marques suivent ainsi toutes les ventes B2B et exportent l’ensemble des factures pour la comptabilité. Les factures en attente de paiement sont visibles facilement pour un meilleur suivi des paiements.</p>
            <h3>Notre +</h3>
            <p>Quelques jours avant la date d’échéance d’une facture, si la marque n’a pas indiqué que cette dernière est payée, plusieurs relances automatiques sont envoyées aux revendeurs.</p>
            <h5>À venir</h5>
            <p>French Select va se doter d’un paiement en ligne sur la plateforme afin de permettre aux clients B2B de régler leurs factures dans les temps, par carte bancaire ou prélèvement SEPA.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home2">
        <div class="container" id="tool-payments">
        <h2>Suivez vos performances de ventes</h2>
            <div class="row">
                <div class="col-lg-6">
            <p>Le CRM met à disposition des marques un tableau de bord détaillé de suivi des ventes professionnelles.</p>
            <p>Les marques ont la possibilité de visualiser l’ensemble de statistiques de vente sur une période donnée, par commercial, par collection, par produit ou par client par exemple.</p>
            <p>Si la marque a opté pour le marketplace, en plus des ventes, le CRM analyse les consultations de leurs collections par les détaillants multimarques.</p>
            <h3>Notre +</h3>
            <p>French Select peut accompagner les marques dans la mise en place d’une stratégie globale de développement.</p>
                </div>
                <div class="col-lg-6">Image d'illustration</div>
            </div>
        </div>
    </section>
    <section class="container-fluid tools-detail home1">
        <div class="container">
                    <h2>Faites-vous assister par French Select</h2>
            <div class="row">
                <div class="col-lg-6">Image d'illustration</div>
                <div class="col-lg-6">
            <p>French Select met à disposition des supports techniques afin de venir en aide aux utilisateurs en matière d’utilisation des outils.</p>
            <p>Un service d’assistance French Select est également disponible pour résoudre les problèmes rencontrés.</p>
            <h3>Notre +</h3>
            <p>French Select propose pour la main en place par les collaborateurs de la marque pour une utilisation efficace de l’ensemble des fonctions du CRM.</p>
                </div>
            </div>
        </div>
    </section>
        <section class="container-fluid home2">
            <div class="container">
                <h2>Des outils de gestions simplifiés</h2>
                <div class="row">
                    <div class="col-md">
                        <h3>Gestion des collections</h3>
                        <p>Importations des produits, définition de produits Coup de cœur, gestion des stocks, définition de réductions et promotions par produit</p>
                    </div>
                    <div class="col-md">
                        <h3>Gestion des clients</h3>
                        <p>Importation de listing clients, consultation des fiches clients, exportation de listing clients</p>
                    </div>
                    <div class="col-md">
                        <h3>Gestion des commandes</h3>
                        <p>Enregistrement de commandes, consultation des commandes, exportation des commandes</p>
                    </div>
                    <div class="col-md">
                        <h3>Gestion des commerciaux</h3>
                        <p>Affectation des clients aux commerciaux, gestion des commandes par commercial, suivi des statistiques de ventes par commercial</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h3>Gestion des factures</h3>
                        <p>Création automatique de factures, consultation des factures, exportations des factures</p>
                    </div>
                    <div class="col-md">
                        <h3>Gestion des paiements</h3>
                        <p>Suivi des paiements, relance automatique des retards de paiements </p>
                    </div>
                    <div class="col-md">
                        <h3>Gestion des livraisons</h3>
                        <p>Gestion des bons de livraisons, gestion des retours de produits défectueux</p>
                    </div>
                    <div class="col-md">
                        <h3>Assistance et supports</h3>
                        <p>Assistance par email, téléphone, support technique, formation</p>
                    </div>
                </div>
            </div>
        </section>





{% endblock %}