{% set active = 'offres_marques' %}
{% extends "B2bBundle::Vitrine/layout.html.twig" %}

{% block title %}
    French Select - Le markeplace professionnel de mode
{% endblock %}

{% block body %}
    <section class="container-fluid padding-start" id="section-start">
        <div class="container">
            <h1>Le markeplace professionnel de mode</h1>
           </div>
    </section>



{% endblock %}