{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('b2b_backoffice_index') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Importation de clients</li>
    </ol>
    <div class="text-center">
        <h1>Importation de clients</h1>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 login-form border rounded">

            <div class="text-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" value="Importer les clients">
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-lg-2">
        </div>
    </div>


{% endblock %}
